#contact{
    display: flex;
    padding: 0.6%;
}

#object{
    padding: 1%;
}

#perfil{
    width: 25%;
}

#infoContact{
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.imgInfo{
    width: 7%;
    margin-right: 3%;
}

.containerInfo{
    display: flex;
}

@media (min-width:360px) {

    #container{
        display: block;
        margin: 4%;
    }

    .textInfo{
        font-size: 0.9rem;
    }

    #object{
        font-size: 0.8rem;
        padding: 4%;
        margin-top: 3%;
    }

}

@media (min-width:800px) {

    #container{
        display: flex;
        margin: 1%;
    }

    #contact{
        width: 35%;
        padding: 1%;
        margin: 0.5%;
    }

    #object{
        width: 100%;
        margin: 0.5%;
        padding: 2%;
        font-size: 0.8rem;
    }

    .textInfo{
        font-size: 0.7rem;
    }

}

@media (min-width:1366px) {

    .textInfo{
        font-size: 0.9rem;
    }

    #object{
        font-size: 0.9rem;
        padding: 1%;
    }

}